{% extends "it/base.html" %}
{% block menu %}{{ menu('ca') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Downloading the certificate</h2>
        <p><em>To securely verify the identity of the services provided by
            Freepto, you need to download and install our CA on your computer.</em></p>
        <p><code>wget http://ca.freepto.mx/ca.pem</code></p>

        <h2>Verifying the certificate</h2>
        <p>We strongly recommend to verify the authenticity of the certificate you downloaded. You can do so in a few easy steps:</p>
        <ul>
            <li><strong>Download our GPG key:</strong></li>
            <p><code>gpg --search-key 364B68D4</code></p>

            <li><strong>Verify the key fingerprint:</strong></li>
            <p><em>This step is needed to make sure that the GPG key you downloaded
            is actually our GPG key.</em></p>
                <p>Check that the fingerprint outputted by this command</p>
                <p><code>gpg --fingerprint 364B68D4</code></p>
                <p>is the same as the one shown below:</p>
                <p><code>Key fingerprint = C355 97C8 7BE0 8D11 A5D8  4087 909C 6C75 364B 68D4</code></p>

            <li><strong>Verify the certificate:</strong></li>
                <p>Download the certificate signature:</p>
                <p><code>wget http://ca.freepto.mx/ca.pem.sig</code></p>
                <p>Now verify the certificate with GPG:</p>
                <p><code>$ gpg --verify ca.pem.sig ca.pem<br />
                   gpg: Signature made Mon 03 Nov 2014 23:45:25 GMT using RSA key ID 364B68D4<br />
                   gpg: Good signature from "Freepto Repository <deb@freepto.mx>"</code></p>
        </ul>

        <h2>Installing the certificate</h2>
        <p>To install the certificate on your computer, just follow the steps below:</p>
        <p><code>$ sudo -s<br />
        # apt-get install ca-certificates<br />
        # wget -O /usr/local/share/ca-certificates/freepto.pem http://ca.freepto.mx/ca.pem<br />
        # update-ca-certificates</code></p>
    </div>
</div>
{% endblock %}
