{% extends "en/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Installazione</h2>
        <p>Per creare freepto, purtroppo, e’ necessario avere gia’ un sistema Linux a disposizione. E’ infatti necessario il programma makefreepto.</p>
        <p>Dentro freepto questo programma e’ gia’ incluso, e può tornarti utile nel caso volessi creare una nuova freepto per qualcuno/a. Anche da un altro sistema operativo, scaricarlo e’ semplicissimo.</p>
        <p>Al momento questa operazione non è del tutto facile, e se avete dei dubbi vi invitiamo a chiedere un aiuto a chi ne sa di più.</p>
        <p>Per iniziare l'installazione segui i passaggi della <a href="https://we.riseup.net/freepto-wiki/freepto-docs#crea-un-nuova-freepto">documentazione</a></p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Avviare Freepto</h2>
        <h3>1. Configurare il boot</h3>
        <p>Per avviare freepto è necessario settare il proprio BIOS per effettuare il boot da USB.</p>
        <p>Per selezionare il boot da USB, premere, subito dopo l’accensione del computer, il tasto ESC: questo dovrebbe far apparire un pannello di selezione del dispositivo di boot. Seleziona la penna usb!</p>
        <p>Se questo non dovesse riuscire, si dovra’ accedere al BIOS: solitamente è sufficiente durante l’avvio del computer premere uno di questi tasti: ESC, F2, Canc o F10. Purtroppo è impossibile indicare una procedura valida per tutti i casi, perchè ovviamente il menu del BIOS è differente da modello a modello. Quindi, almeno in questo caso, Google è tuo amico: cerca, ad esempio “boot usb” seguito dal modello / marca del tuo computer. Configurato il BIOS per l’avvio da USB, puoi semplicemente riavviare ed aspettare che freepto venga avviata.</p>

        <p>Se tutto va per il verso giusto vedrai una schermata simile a questa:</p>
        <p><img src="https://we.riseup.net/assets/161470/boot.png" /></p>
        <h3>2. Sbloccare il sistema cifrato</h3>
        <p>Durante la fase di boot di freepto ti verrà chiesto di inserire una passphrase per sbloccare la persistenza cifrata, con una stringa come questa:</p>
        <p><img src="https://we.riseup.net/assets/134431/luks-pass_large.png" /></p>
        <p>E’ possibile ignorare questa richiesta ed avviare freepto in modalità live, in questo modo però qualsiasi modifica fatta durante l’utilizzo di freepto verrà persa al successivo riavvio.</p>
        <p>Montando la persistenza è invece possibile conservare i documenti creati e portarli con se in un sistema sicuro e cifrato.</p>
        <p>Se non ricordi la password, o non vuoi inserirla perche’ l’ambiente non e’ fidato (ad esempio se ci sono telecamere) puoi evitare di mettere la password e il sistema si avviera’ ugualmente, ma in modalita’ /live/: non vedrai i tuoi dati salvati, ne’ potrai salvarne di nuovi. Potrai comunque usare il sistema di base senza problemi.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Guida su come usarlo</h2>
        <p>Nel classico menu delle applicazioni abbiamo voluto mettere in evidenza quelle piu’ “particolari” per la tutela della sicurezza con un menu dedicato.</p>
        <p>Tra di esse ci sono strumenti per la navigazione anonima, strumenti per la pulizia dei file temporanei, strumenti di cifratura. La descrizione di questi programmi e’ approfondita piu’ avanti.</p>
        <p><a href="https://we.riseup.net/freepto-wiki/freepto-docs#tools-installati">Continua...</a></p>
    </div>
</div>
{% endblock %}
