{% extends "en/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>How to contribute</h2>
        <p>Freepto is based on <a href="http://live.debian.net/">Debian Live Build</a> system and focused on the development of applications for the digital security of users.</p>
        <p>Our development model is open and follows a community-based approach, so if you want to join our dev team you're more than welcome.</p>
        <p>We communicate through the project's <a href="/en/get-in-touch/">general mailing list</a>. Developers also use an <a href="/it/contatti/">IRC channel</a> for discussing less important matters.</p>
        <p>You can find Freepto's development releases here: <a href="http://dev.freepto.mx">http://dev.freepto.mx/</a>.</p>
    </div>
    <div class="span6">
        <h2>The repository</h2>
        <p>Freepto's source code is available in our repository <a href="https://github.com/AvANa-BBS/freepto-lb/">https://github.com/AvANa-BBS/freepto-lb/</a>. This is because we want the development process to be public and open to everybody, including those who can or want to participate only occasionally.</p>
        <p>We use <a href="https://github.com/AvANa-BBS/">GitHub</a> to manage <a href="https://github.com/AvANa-BBS/freepto-lb/issues?milestone=&amp;page=1&amp;state=open">tickets</a> and the general development timeline too.</p>
        <p>To report a bug, you can do so on Github or just <a href="/en/get-in-touch/">email us</a>.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>How to create a development environment</h2>
        <p>We've created a system to automate the process of setting up and configuring a development environment, based on <a href="http://vagrantup.com">Vagrant</a>.</p>
        <p>For more information, give this repository a look <a href="https://github.com/AvANa-BBS/freepto-vagrant">https://github.com/AvANa-BBS/freepto-vagrant</a>.</p>
    </div>
</div>
{% endblock %}
