{% extends "it/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>Come collaborare</h2>
        <p>Il gruppo di documentazione si occupa di scrivere la documentazione di Freepto e di piccole guide per le applicazioni installate che sono orientate alla sicurezza dell'utente.</p>
        <p>Oltre alla stesura degli articoli, il gruppo di documentazione si occupa anche della relativa traduzione.</p>
        <p>Il documento principale in italiano è pubblicato sil <a href="https://we.riseup.net/avana/freepto-docs">wiki</a> ospitato sulla piattaforma <a href="https://we.riseup.net/">https://we.riseup.net/</a>.</p>
        <p>Se vuoi contribuire al progetto di documentazione devi iscriverti alla <a href="/it/contatti/">mailing-list generale</a>.</p>
    </div>
    <div class="span6">
        <h2>Tips&Tools</h2>
    </div>
</div>
{% endblock %}
