{% extends "en/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>How to contribute</h2>
        <p>The documentation team works on Freepto documentation and on small guides for the tools installed on Freepto that are useful for the user security.</p>
        <p>This team also works on transalting the documentation.</p>
        <p>The main English document is <a href="http://we.riseup.net/freepto-wiki/freepto-docs-en">the wiki</a>, hosted on <a href="https://we.riseup.net">https://we.riseup.net/</a>.</p>
        <p>If you wanto to contribute to the project you can subscribe to <a href="/en/contact/">general mailing-list</a>.</p>
        <p>Se vuoi contribuire al progetto di documentazione devi iscriverti alla <a href="/it/contatti/">mailing-list generale</a>.</p>
    </div>
    <div class="span6">
        <h2>Tips&Tools</h2>
    </div>
</div>
{% endblock %}
