{% extends "en/base.html" %}
{% block menu %}{{ menu('download') }}{% endblock %}
{% block content %}
{% set images = get_images_data() %}
<div class="row">
    <div class="span12">
        <h2>Download</h2>
        <table class="table">
        <tr><th>Language</th><th width="20%">IMG file</th><th width="30%">SHA512sum</th><th width="30%">SHA512sum signature</th></tr>
        {% for locale, data in images.iteritems() %}
	<tr>
            <td>{{ locale }}</td>
            <td>
                <a href="{{ data['http_download'] }}">Download via HTTP</a>
                <!-- <br /><a href="{{ data['torrent_download'] }}">Download via Torrent</a> -->
            </td>
            <td><p style="max-width: 300px; word-wrap:break-word;">{{ data['sha512'] }}</p></td>
            <td><a href="{{ data['sha512sig'] }}">Download signature</a></p></td>
        </tr>
        {% endfor %}
        </table>


       <h2>Verify</h2>
        <p>You can easily verufy that the image you downloaded is valid and authentic:</p>
        <ul>
            <li><strong>Download our public GPG key:</strong></li>
            <p><code>gpg --search-key 364B68D4</code></p>
                
            <li><strong>Verifying the key fingerprint:</strong></li>
            <p><em>Make sure you downloaded a genuine copy of our GPG key</em></p>
                <p>Verify that the fingerprint printed out by this command</p>
                <p><code>gpg --fingerprint 364B68D4</code></p>
                <p>is the same as below:</p>
                <p><code>Key fingerprint = C355 97C8 7BE0 8D11 A5D8  4087 909C 6C75 364B 68D4</code></p>

            <li><strong>Verifying the hash code of the image</strong></li>
                <p><em>This step enables you to check that the image you downloaded is not corrupt</em></p>
                <p>Make sure the outputs of the command below is identical to text into the SHA512sum column:</p>
                <p><code>sha512sum freepto-X.X.X.img</code></p>

            <li><strong>Verifying the hash signature</strong></li>
                <p><em>This step enables you to check that the image you downloaded is authentic</em></p>
                <p>Download the SHA512sum signature and run the command below:</p>
                <p><code>gpg --keyid-format long --verify freepto-X.X.X.img.sha512sum.txt.asc</code></p>
        </ul>

        <h2>Install</h2>
        <p><em>Follow the <a href="/en/get-started/">documentation</a> to find out how to install Freepto.</em></p>
    </div>
</div>
{% endblock %}
