{% extends "en/base.html" %}
{% block menu %}{{ menu('events') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Events</h2>
	<p><strong>2015/01/11</strong> - Presentation of freepto: <a href="https://www.hackerspace.gr/wiki/Freepto">Freepto: an encrypted system made simple</a> at Athens <a href="https://www.hackerspace.gr/wiki/Main_Page">hackerspace</a></p>
	<p><strong>2015/01/10</strong> - Debate about surveillance and presentation of <a href="https://skytal.es/blog/events/freepto-kvox/">Freepto: an encrypted system made simple</a> in Athens, at K*VOX squat</p>
        <p><strong>2014/06/27-28-29</strong> - Talk at <a href="http://www.hackmeeting.org">Hackmeting 2014</a></p>
        <p><strong>2013/12/14</strong> - <a href="http://informaticamadrid.cnt.es/articulo/07-12-2013/14-de-diciembre-jornada-de-autodefensa-digital">Digital defense day</a> and presentation of Freepto (Madrid, Spain)</p>
        <p><strong>2013/11/03</strong> - <a href="http://sindominio.net/hackmeeting/wiki/2013/Nodos/Freepto:_encrypted_GNU/Linux_OS">Presentation</a> at <a href="http://www.txirbilenea.org/">Txirbilenea</a> on the occasion of <a href="http://sindominio.net/hackmeeting/wiki/2013">HackGaraiak</a> in Sestao (Bilbao, Spain)</p>
        <p><strong>2013/07/13</strong> - <a href="http://www.notav.info/campeggio/programma-campeggio-no-tav-dal-12-al-31-luglio/">Presentation</a> at NoTAV Camp (Venaus, Italy)</p>
        <p><strong>2013/07/11</strong> - Presentation at Fucina62 (Rome, Italy)</p>
        <p><strong>2013/06/08</strong> - <a href="http://it.hackmeeting.org/seminari.html#freepto">No install party</a> at <a href="http://it.hackmeeting.org/index.html">hackmeeting 2013</a> (Cosenza, Italy)</p>
    </div>
</div>
{% endblock %}
