{% extends "en/base.html" %}
{% block menu %}{{ menu('use') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Installation</h2>
        <p>From the release 1.0 the installation process is easier than older releases. You don't need makefreepto anymore.</p>
        <p>To begin, follow the steps in the <a href="https://we.riseup.net/freepto-wiki/freepto-docs-en#creating-a-freepto-usb-stick">documentation</a>.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Starting Freepto</h2>
        <h3>1. Configuring the system boot</h3>
        <p>Per avviare freepto è necessario settare il proprio BIOS per effettuare il boot da USB.</p>
        <p>To start Freepto, you'll need to configure the BIOS of your machine so that it will boot from a USB device.</p>
        <p>To select the USB boot, press the ESC key immediately after turning on your computer: a special screen should show up,
            enabling you to change the boot device. Select to USB stick boot!</p>
        <p>If the ESC key doesn't make this special screen show up, you will need to try with other keys, usually
            F2, Del or F10. Unfortunately there are no one-fits-all instructions since the BIOS menu is different
            for every computer model. Try googling the word "BIOS" followed by make and model of your computer. Once you'll
            have configured the USB boot from the BIOS, you can just reboot your computer and wait for freepto to boot.</p>
            
        <p>Se tutto va per il verso giusto vedrai una schermata simile a questa:</p>
        <p>If the boot succeeds, you 'll see something like this:</p>
        <p><img src="{{ url_for('static', filename='syslinux-berenjena.png') }}" /></p>
        <h3>2. Unlock the crypted storage</h3>
        <p>During the boot, you'll be asked a passphrase to unlock the encrypted storage:</p>
        <p><img src="/static/luks-pass.png" /></p>
        <p>If you ignore this password prompt, Freepto will be booted in live mode. This means that any document you
            save will be lot when you turn your computer off.</p>
        <p>If you instead enable the encryted storage, you'll be able to store documents and carry them with you on an
            encrypted USB drive.</p>
        <p>If you don't remember your password, or if you just don't want to type it in because the environment
            around you is not secure (for example, if there is CCTV around you), you can just not enter the password
            and the system will be booted in live mode: you won't see any of your data, but you'll be able to use
            a base Linux system anyway and without problems of any sort.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Manual</h2>
        <p>We've highlighted the most important applications for safeguarding your security in the application menu. You'll
            find them under the "paranoia" submenu.</p>
        <p>Here you will find tools for anonymous internet browsing, tools for secure deleting of temporary files and
            encryption tools. For a complete list of the tools, refer to 
            <a href="https://we.riseup.net/freepto-wiki/freepto-docs-en#paranoia-tools">this page</a></p>
        <p> The <strong>complete documentation</strong> is available at:
            <a href="https://we.riseup.net/freepto-wiki/freepto-docs-en">https://we.riseup.net/freepto-wiki/freepto-docs-en</a></p>
        <p><img src="{{ url_for('static', filename='paranoiatools.png') }}"></p>
    </div>
</div>
{% endblock %}
