{% extends "en/base.html" %}
{% block menu %}{{ menu('contacts') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Get in touch</h2>
        <h3>Mailing List</h3>
        <p>Tutte le comunicazioni del progetto passano per la <strong>general mailing list</strong> which you can subscribe to here:</p>
        
        <p><a href="https://www.autistici.org/mailman/listinfo/freepto">https://www.autistici.org/mailman/listinfo/freepto</a></p>

        <p>To contact us subscribe to this mailing list, or just email <a href="mailto:freepto@autistici.org">freepto [at] autistici [dot] org</a>.</p>
    </div>
    <div class="span12">
        <h3>IRC</h3>
        <p>For quick messages, reports or simple support requests, you can find us on our IRC channel, using this data:</p>
        <p><strong>Server address</strong>      <tt>ai.irc.mufhd0.net</tt> (or: <tt>wi7qkxyrdpu5cmvr.onion</tt>)<br>
        <strong>SSL user port</strong>  9999<br>
        <strong>SSL CA:</strong>        <a href="http://ca.autistici.org/">ca.autistici.org</a><br>
        <strong>Chan</strong> <tt>#freepto</tt></p>
    </div>
</div>
{% endblock %}
