{% extends "it/base.html" %}
{% block menu %}{{ menu('contacts') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Contatti</h2>
        <h3>Mailing List</h3>
        <p>Tutte le comunicazioni del progetto passano per la <strong>mailing-list generale</strong> a cui è possibile iscriversi a partire da questa pagina:</p>
        
        <p><a href="https://www.autistici.org/mailman/listinfo/freepto">https://www.autistici.org/mailman/listinfo/freepto</a></p>

        <p>Per contattarci puoi iscriverti alla lista o inviarci una mail all'indirizzo: <a href="mailto:freepto@autistici.org">freepto [at] autistici [dot] org</a>.</p>
    </div>
    <div class="span12">
        <h3>IRC</h3>
        <p>Per comunicazioni veloci, segnalazioni o semplici richieste di supporto, puoi contattarci al nostro canale IRC usando i seguenti dati:</p>
        <p><strong>Server address</strong>      ai.irc.mufhd0.net (or: wi7qkxyrdpu5cmvr.onion)<br>
        <strong>SSL user port</strong>  9999<br>
        <strong>SSL CA:</strong>        <a href="http://ca.autistici.org">ca.autistici.org</a><br>
        <strong>Chan</strong> #freepto</p>
    </div>
</div>
{% endblock %}
