{% extends "en/base.html" %}
{% block menu %}{{ menu('home') }}{% endblock %}
{% block content %}
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="row">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item">
                            <div class="container">
                                <div class="carousel-img">
                                    <img alt="USB stick" src="{{ url_for('static', filename='slide-conte.png') }}">
                                </div>
                                <div class="carousel-text">
                                    <h1>Always with you</h1>
                                    <p class="lead">Freepto runs off a USB stick that you can keep in your pocket.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="container">
                                <div class="carousel-img">
                                    <img heigth="200px" alt="" src="{{ url_for('static', filename='slide-sicura.png') }}">
                                </div>
                                <div class="carousel-text">
                                    <h1>Secure</h1>
                                    <p class="lead">Freepto is encrypted and comes packed with software fine tuned for providing maximum security.</p>
                                </div>
                            </div>
                        </div><!--item-->
                        <div class="item">
                            <div class="container">
                                <div class="carousel-img">
                                    <img alt="Complete" src="{{ url_for('static', filename='slide-completa.png') }}">
                                </div>
                                <div class="carousel-text">
                                    <h1>Complete</h1>
                                    <p class="lead">Freepto is a complete operating system based on
                                    Debian GNU/Linux, with all the software you need: office suite,
                                    graphics, audio, chat, mail, browser.</p>
                                </div>
                            </div>
                        </div><!--item-->
                    </div><!--carousel-inner -->
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                </div><!--carousel-->
            </div><!--row-->
            <!-- Example row of columns -->
            <div class="row-fluid">
                <div class="span4">
                    <h2>What is Freepto?</h2>
                    <p>Freepto is a Linux-based operating system on USB stick. This means
                        you can bring it with you and use any computer as it was your own. Also,
                        data you save on the USB stick will always automatically be encrypted (i.e.
                        nobody else will be able to access them).</p>
                    <p>The idea behind Freepto is to offer an <em>easy</em> way to deal with the most common
                        needs of activists, without giving up the <em>convenience</em> of a traditional operating system.</p>
                    <a class="btn btn-large btn-danger" href="https://we.riseup.net/avana/opuscolo#freepto" target="_blank">Read more »</a>
                </div>
                <div class="span4">
                    <h2>How do I use it?</h2>
                    <p>Using Freepto is easy.</p>
                    <p>Just plug your USB stick into your computer, then switch it on, <a href="https://we.riseup.net/avana/freepto-docs#come-avvio-freepto">select the USB boot</a>, and you're done.</p>
                    <p>You can find all the information on how to install, boot and use Freepto in the documentation.</p>
                    <a class="btn btn-large btn-danger" href="https://we.riseup.net/freepto-wiki/freepto-docs" target="_blank">Documentation »</a>
                </div>
                <div class="span4">
                    <h2>Who we are</h2>
                    <p>Rather than a project (or a set of projects), «Av.A.Na - Avvisi Ai Naviganti» is
                    a collective process of learning. It's a knowledge start-up. It's the idea batter. We have and we promote a critical
                    and aware approach to information technologies.</p>
                    <p>AvANa</p>
                    <p>AvANa doesnt' give courses and doesn't teach anything. It's the space and the time in which
                        exchange knowledge, seeking the pleasure of horizontality (July 2012).</p>
                    <a class="btn btn-large btn-danger" href="http://avana.forteprenestino.net/" target="_blank">Website »</a>
                </div>
            </div><!--row-->

            <hr class="featurette-divider">
            <div class="featurette">
                <img class="featurette-image pull-right" src="{{ url_for('static', filename='slide-conte.png') }}">
                <h2 class="featurette-heading">Always with you <span class="muted">An operating system in your pocket.</span></h2>
                <p class="lead">Freepto is a complete operating system on a USB stick. You can use it on any computer,
                and you'll get all you need. It's not just a system to reort to in case of emergency: freepto is suitable
                for your day-to-day needs.</p>
            </div>
            <hr class="featurette-divider">
            <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='luks-pass.png') }}">
                <h2 class="featurette-heading">Encrypted <span class="muted">to guard your secrets</span></h2>
                <p class="lead">All the data stored on Freepto is securely encrypted with a password only you know.
                If you loose your USB stick, or if it is stolen, you don't need to worry your data
                fall into the wrong hands.
            </p>
            </div>
            <hr class="featurette-divider">
            <div class="featurette">
                <!--        <img class="featurette-image pull-right" src="img/luks-pass.png"></img>-->
                <h2 class="featurette-heading">Everything included <span class="muted">from mail to graphics.</span></h2>
                <p class="lead">Freepto comes packed with useful software: browser,
                mail client, image editor… and if you need more you can install it with synaptic, exactly in the same
                way you would do on Debian or Ubuntu.</p>
            </div>
            <hr class="featurette-divider">
            <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='slide-sicura.png') }}">
                <h2 class="featurette-heading">Preconfigured for security</h2>
                <p class="lead">
                    We tried to make Freepto as secure as possible, taking care this didn't harm user experience:
                </p><ul class="lead">
                <li>software like instant messengers and Filezilla is configured to work over Tor,
                    so that you're always on anonymous and secure connections.</li>
                <li>In Freepto, Firefox ships with add-ons that encrypt your network connections as much as possible</li>
                <li>you can browse directly to <tt>.onion</tt> websites (website run by Tor-hidden web servers)</li>
            </ul>
            <p></p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image pull-right" src="{{ url_for('static', filename='paranoia-menu.png') }}">
            <h2 class="featurette-heading">Additional paranoia <span class="muted">optional, but always handy</span></h2>
            <p class="lead">We believe that users should be able to increase their
                level of security when they need it and in an easy way; 
                for this reason Freepto comes packed with <a href="https://github.com/AvANa-BBS/freepto-lb/blob/master/config/package-lists/package.list.chroot">a
            set of tools</a> to do so:
            </p><ul class="lead">
            <li>file secure delete</li>
            <li>TrueCrypt, to work with encrypted storage</li>
            <li>torbrowser-launcher, to always browse with the latest version of torbrowser and use the Web anonymously</li>
            <li>GPG, for encrypted e-mails</li>
            <li>pidgin-otr, for secure instant messenging</li>
            <li><tt>TorTP</tt>, to enforce Tor on any application</li>
            <li>florence, a virtual keyboard where to type your passwords</li>
            <li><tt>tomb</tt>, advanced management of encrypted storage</li>
        </ul>
        <p></p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image pull-left" src="{{ url_for('static', filename='doc.png') }}">
        <h2 class="featurette-heading">Documentation included</h2>
        <p class="lead">Freepto is easy to use, Usare freepto è facile, ma è sempre utile avere della 
        documentazione da leggere per qualsiasi necessità. Freepto comes with its own <a href="https://we.riseup.net/freepto-wiki/freepto-docs">manual</a>,
        che ti aiuterà a usarla nel modo migliore possibile. </p>
        <p class="lead">We also included <a href="https://we.riseup.net/avana/opuscolo/">Crypt'r'die</a>, a zine dedicated
            to practical advice about digital security:
            it is broken in to easy "recipes" to improve your on-line security. Take a look!</p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image pull-right" src="{{ url_for('static', filename='livebuild.png') }}">
        <h2 class="featurette-heading">Customizable</h2>
        <p class="lead">You can create your own customized version of Freepto, if you need it.
        You can include new software or make any change you like. Freepto is based
        on  Debian Live Build, a set of tools that enables you to build new
        customized live Linux distributions based on Debian.
        To contribute, you can start at <a href="https://github.com/AvANa-BBS/freepto-lb">our repository</a>.</p>
    </div>
{% endblock %}
