{% extends "en/base.html" %}
{% block menu %}{{ menu('news') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Latest news</h2>

        <p><strong>May 8, 2014</strong> - <a href="/it/download">Freepto v0.1.2-2</a> released<br />
        <a href="http://www.freepto.mx">Freepto</a> stable (v0.1.2) was rebuilt to include the recent OpenSSL <a href="https://www.openssl.org/news/secadv_20140605.txt">security bugfix</a>.
        It also includes the latest <a href="https://github.com/micahflee/torbrowser-launcher">Tor Browser Launcher</a> (v0.0.9).
        To download and install the latest Freepto release, please go to the <a href="/it/download">download</a> page.
        </p>

        <p><strong>April 10, 2014</strong> - <a href="http://heartbleed.com">Heartbleed</a> attack poses serious threats to security; you should:
        <ul>
          <li>Change website passwords</li>
          <li>Upgrade libssl with <tt>sudo aptitude update && sudo aptitude install libssl1.0.0</tt></li>
          <li>If you are running a server using freepto, you should reissue all your certificates</li>
        </ul>
        </p>
        <p><strong>December 16, 2013</strong> - <a href="/it/download">Freepto 0.1.2</a> released</p>
    </div>
</div>
{% endblock %}
