{% extends "it/base.html" %}
{% block menu %}{{ menu('news') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Ultime notizie</h2>
        <p><strong>2014 April 10</strong> - <a href="http://heartbleed.com">
          Heartbleed</a> attack poses serious
        threats to security; you should:
        <ul>
          <li>Change website passwords</li>
          <li>Upgrade libssl with <tt>sudo aptitude update && sudo aptitude install libssl</tt></li>
          <li>If you are running a server using freepto, you should reissue all your certificates</li>
        </ul>
        </p>
        <p><strong>2013 December 16</strong> - <a href="/it/download">Freepto 0.1.2</a> released</p>
    </div>
</div>
{% endblock %}
