{% extends "en/base.html" %}
{% block menu %}{{ menu('news') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Latest news</h2>
        <p><strong>July 9, 2015<strong> - What the HackingTeam leaks says about Freepto<br />
        You may have known that the offensive security company HackingTeam has been hacked, so lot of their data has been accessible.<br />
        As it appears, they have linux exploits, too. It seems that it mostly is about a Flash 0day.<br />
        Freepto has been vulnerable to this, at least for 0.1.1.<br />
        <br />
        The current situation about Flash has much improved, because from 1.0 freepto has the flash-click-to-play feature.<br />
        The click-to-play is useful, but is not a magic wand: the user could be convinced to allow flash if the domain "sounds familiar", despite the actual content may not be authentic.<br />
        Therefore we don't believe that 1.0 is completely at safe from this attack.<br />
        <br />
        Since the last development session at HackIT, <a href="https://github.com/AvANa-BBS/freepto-lb/pull/149">we are working to remove flash</a>.<br />
        <br />
        We surely need to better analyze the situation; we will keep you updated.<br />
        </p>

        <p><strong>February 19, 2015</strong> - <a href="/en/download">Freepto v1.0.1</a> (codename Berenjena) has been released.<br />
        The details to download and install the new image can be found in the download page.</p>

        <p><strong>May 8, 2014</strong> - <a href="/en/download">Freepto v0.1.2-2</a> released<br />
        <a href="http://www.freepto.mx">Freepto</a> stable (v0.1.2) was rebuilt to include the recent OpenSSL <a href="https://www.openssl.org/news/secadv_20140605.txt">security bugfix</a>.
        It also includes the latest <a href="https://github.com/micahflee/torbrowser-launcher">Tor Browser Launcher</a> (v0.0.9).
        To download and install the latest Freepto release, please go to the <a href="/en/download">download</a> page.
        </p>

        <p><strong>April 10, 2014</strong> - <a href="http://heartbleed.com">Heartbleed</a> attack poses serious threats to security; you should:
        <ul>
          <li>Change website passwords</li>
          <li>Upgrade libssl with <tt>sudo aptitude update && sudo aptitude install libssl1.0.0</tt></li>
          <li>If you are running a server using freepto, you should reissue all your certificates</li>
        </ul>
        </p>
        <p><strong>December 16, 2013</strong> - <a href="/it/download">Freepto 0.1.2</a> released</p>
    </div>
</div>
{% endblock %}
