{% extends "it/base.html" %}
{% block menu %}{{ menu('events') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Eventi</h2>
        <p><strong>2015/05/17</strong> - Workshop di Freepto al <a href="http://forteprenestino.net">Forte
            Prenestino</a> durante terra/Terra</p>
        <p><strong>2015/04/19</strong> - <a href="https://cavallette.noblogs.org/2015/02/8750">Freepto lab</a> al <a href="http://k100fuegos.org/RESISTENZA/index.php">K100</a> di Campi Bisenzio (FI)</p>
        <p><strong>2015/01/11</strong> - Presentazione di freepto: <a href="https://www.hackerspace.gr/wiki/Freepto">Freepto: an encrypted system made simple</a> all'<a href="https://www.hackerspace.gr/wiki/Main_Page">hackerspace</a> di Atene</p>
        <p><strong>2015/01/10</strong> - Dibattito sulla sorveglianza e presentazione di <a href="https://skytal.es/blog/events/freepto-kvox/">Freepto: an encrypted system made simple</a> ad Atene, presso il K*VOX squat</p>
        <p><strong>2014/06/27-28-29</strong> - Talk ad <a href="http://www.hackmeeting.org">Hackmeting 2014</a></p>
        <p><strong>2013/12/14</strong> - <a href="http://informaticamadrid.cnt.es/articulo/07-12-2013/14-de-diciembre-jornada-de-autodefensa-digital">Giornata di difesa digitale</a> e presentazione di Freepto (Madrid)</p>
        <p><strong>2013/11/03</strong> - <a href="http://sindominio.net/hackmeeting/wiki/2013/Nodos/Freepto:_encrypted_GNU/Linux_OS">Presentazione</a> al <a href="http://www.txirbilenea.org/">Txirbilenea</a> in occasione del <a href="http://sindominio.net/hackmeeting/wiki/2013">HackGaraiak</a> a Sestao (Bilbao)</p>
        <p><strong>2013/07/13</strong> - <a href="http://www.notav.info/campeggio/programma-campeggio-no-tav-dal-12-al-31-luglio/">Presentazione</a> al Campeggio NoTAV (Venaus)</p>
        <p><strong>2013/07/11</strong> - Presentazione a Fucina62 (Roma)</p>
        <p><strong>2013/06/08</strong> - <a href="http://hackmeeting.org/hackit13/seminari.html#freepto">No
            install party</a> all'<a href="http://hackmeeting.org/hackit13/">hackmeeting 2013</a> (Cosenza)</p>
    </div>
</div>
{% endblock %}
