{% extends "it/base.html" %}
{% block menu %}{{ menu('news') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Ultime notizie</h2>

        <p><strong>2015/07/09</strong> - I leak di HackingTeam e Freepto<br />
        Come forse saprete, l'azienda HackingTeam ha subito un attacco, e molti dei loro dati sono ora
        accessibili.<br/>
        Dai leak emerge che hanno exploit anche per linux, probabilmente grazie ad uno 0day Flash. Freepto e'
        vulnerabile a questo attacco, almeno nella sua versione 0.1.1<br/>

        La situazione attuale su Flash e' migliorata, perche' dalla 1.0 freepto ha il "click to play" per
        Flash. Il click to play e' utile, ma non risolve magicamente il problema: l'utente potrebbe essere
        convinto ad abilitare flash se il dominio le e' familiare, anche se il contenuto potrebbe non essere
        autentico. Pertanto non crediamo che la 1.0 sia completamente al riparo da questo attacco.<br/>

        Dall'ultimo HackIT stiamo <a href="https://github.com/AvANa-BBS/freepto-lb/pull/149">lavorando per
            rimuovere flash</a>.<br/>

        Dobbiamo analizzare meglio la situazione, ma vi terremo aggiornati.
        </p>


        <p><strong>2015/02/19</strong> - Rilasciata <a href="/it/download">Freepto v1.0.1</a><br />
        <a href="http://www.freepto.mx">Freepto</a> stable v1.0.1 (codename Berenjena) è stata rilasciata.
        Le info per scaricare ed installare la nuova immagine le trovate nella pagina dei <a href="/it/download">download</a>.
        </p>

        <p><strong>2014/05/08</strong> - Rilasciata <a href="/it/download">Freepto v0.1.2-2</a><br />
        <a href="http://www.freepto.mx">Freepto</a> stable (v0.1.2) è stata ribluildata includendo i bugfix delle <a href="https://www.openssl.org/news/secadv_20140605.txt">recenti vulnerabilità</a>
        di openssl e l'ultima versione di <a href="https://github.com/micahflee/torbrowser-launcher">Tor Browser Launcher</a>.
        Le info per scaricare ed installare la nuova immagine le trovate nella pagina dei <a href="/it/download">download</a>.
        </p>

        <p><strong>2014/04/10</strong> - Rilasciata <a href="/it/download">Freepto v0.1.2-1</a><br />
        <a href="http://www.freepto.mx">
          Freepto</a> stable (v0.1.2) è stata ribuildata includendo il bugfix della vulnerabilità di openssl 
      (<a href="https://security-tracker.debian.org/tracker/CVE-2014-0160">CVE-2014-0160</a>).<br />
        </p>

        <p><strong>2014/04/10</strong> - <a href="http://heartbleed.com">
          Heartbleed</a> &egrave; un attacco che pone la sicurezza di tutti in serio
        <strong>rischio</strong>; dovresti quindi:
        <ul>
          <li>Cambiare la password dei servizi online che usi</li>
          <li>Aggiornare <tt>libssl</tt> lanciando <tt>sudo aptitude update && sudo aptitude install libssl1.0.0</tt> da terminale</li>
          <li>Se usi freepto come server, rigenerare tutti i certificati; se non sai cosa vuol dire, questo punto non ti riguarda.</li>
        </ul>
        </p>
        <p><strong>2013/12/16</strong> - Rilasciata <a href="/it/download">Freepto v0.1.2</a></p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Articoli e Materiali</h2>
        <p><strong>2013/08/01</strong> - <a href="https://infofreeflow.noblogs.org/post/2013/08/01/freepto-crypto-usb-per-attivisti/">Freepto: crypto USB per attivisti</a> (Info Free Flow)
        <p><strong>2013/06/22</strong> - <a href="http://www.ondarossa.info/node/10607/Crypt%20or%20die:%20autodifesa%20digitale">Crypt or die: autodifesa digitale</a>   (Radio Onda Rossa)</p>
   </div>
</div>
{% endblock %}
