{% extends "it/base.html" %}
{% block menu %}{{ menu('news') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Ultime notizie</h2>
        <p><strong>2014/04/10</strong> - <a href="http://heartbleed.com">
          Heartbleed</a> &egrave; un attacco che pone la sicurezza di tutti in serio
        <strong>rischio</strong>; dovresti quindi:
        <ul>
          <li>Cambiare la password dei servizi online che usi</li>
          <li>Aggiornare <tt>libssl</tt> lanciando <tt>sudo aptitude update && sudo aptitude install libssl</tt> da terminale</li>
          <li>Se usi freepto come server, rigenerare tutti i certificati; se non sai cosa vuol dire, questo punto non ti riguarda.</li>
        </ul>
        </p>
        <p><strong>2013/12/16</strong> - Rilasciata <a href="/it/download">Freepto 0.1.2</a></p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Articoli e Materiali</h2>
        <p><strong>2013/08/01</strong> - <a href="https://infofreeflow.noblogs.org/post/2013/08/01/freepto-crypto-usb-per-attivisti/">Freepto: crypto USB per attivisti</a> (Info Free Flow)
        <p><strong>2013/06/22</strong> - <a href="http://www.ondarossa.info/node/10607/Crypt%20or%20die:%20autodifesa%20digitale">Crypt or die: autodifesa digitale</a>   (Radio Onda Rossa)</p>
   </div>
</div>
{% endblock %}
