{% extends "it/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>Come collaborare</h2>
        <p>Iscriviti alla lista</p>
    </div>
    <div class="span6">
        <h2>Tips&Tools</h2>
        <p>Puoi scaricare le versioni ancora in fase di sviluppo  a partire da questa pagina:<br></p>
        <p><a href="http://dev.freepto.mx/dev/freepto-lb/">dev.freepto.mx</a></p>
        <p>E seguire poi la <a href="http://draft.freepto.mx/it/usa_freepto/">documentazione</a> per creare una nuova chiavetta USB con Freepto pronta per essere testata.</p>
    </div>
</div>
{% endblock %}
