{% extends "es/base.html" %}
{% block menu %}{{ menu('contacts') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Contacto</h2>

        <h3>Lista de correo</h3>
        <p>Todas las comunicaciones del proyecto pasan por la <strong>lista de correo general</strong>, a la que es posible suscribirse en esta p&aacute;gina:</p>
        <p><a href="https://www.autistici.org/mailman/listinfo/freepto">https://www.autistici.org/mailman/listinfo/freepto</a></p>
        <p>Para contactarnos puedes hacerlo a trav&eacute;s de la lista o envi&aacute;ndonos un correo a la direcci&oacute;n: <a href="mailto:freepto@autistici.org">freepto [at] autistici [dot] org</a>.</p>

        <h3>IRC</h3>
        <p>Para recibir una respuesta r&aacute;pida, hacer un comentario o una simple solicitud de ayuda, puedes encontrarnos en nuestro canal IRC usando los siguientes datos:</p>
        <p><strong>Server address</strong>      ai.irc.mufhd0.net (or: wi7qkxyrdpu5cmvr.onion)<br>
        <strong>SSL user port</strong>  9999<br>
        <strong>SSL CA:</strong>        <a href="http://ca.autistici.org">ca.autistici.org</a><br>
        <strong>Chan</strong> #freepto</p>
    </div>
</div>
{% endblock %}
