{% extends "es/base.html" %}
{% block menu %}{{ menu('contacts') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Contactos</h2>

        <h3>Lista de correo</h3>
        <p>Todas las comunicaciones del proyecto pasan por la <strong>lista de correo general</strong> en la cual es posible iscribirse a esta página:</p>
        <p><a href="https://www.autistici.org/mailman/listinfo/freepto">https://www.autistici.org/mailman/listinfo/freepto</a></p>
        <p>Para contactarnos puedes iscribirte a la lista o enviarnos un correo a la dirección: <a href="mailto:freepto@autistici.org">freepto [at] autistici [dot] org</a>.</p>

        <h3>IRC</h3>
        <p>Para comunicaciones veloces, señalizaciones o simples solicitud de ayuda, puede contactarnos al nuestro canal IRC usando los siguientes datos:</p>
        <p><strong>Server address</strong>      ai.irc.mufhd0.net (or: wi7qkxyrdpu5cmvr.onion)<br>
        <strong>SSL user port</strong>  9999<br>
        <strong>SSL CA:</strong>        <a href="http://ca.autistici.org">ca.autistici.org</a><br>
        <strong>Chan</strong> #freepto</p>
    </div>
</div>
{% endblock %}
