{% extends "es/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>C&oacute;mo colaborar</h2>
        <p>El desarrollo de Freepto est&aacute; basado en el sistema <a href="http://live.debian.net/">Debian Live Build</a> y en el desarrollo de aplicaciones para la seguridad de los usuarios.</p>
        <p>El modelo de organizaci&oacute;n que seguimos es un modelo abierto y colaborativo, as&iacute; que est&aacute;s invitado a participar.</p>
	<p>Para la coordinaci&oacute;n del proyecto usamos la <a href="/es/contactos/">lista de correo general</a>, y para cuestiones de menor importancia o para un contacto directo entre desarrolladores usamos el canal <a href="/es/contactos/">IRC</a>.</p>
        <p>Puedes encontrar las versiones de desarrollo en esta p&aacute;gina: <a href="http://dev.freepto.mx/">http://dev.freepto.mx/</a>.</p>
    </div>
    <div class="span6">
        <h2>El repositorio</h2>
        <p>El c&oacute;digo fuente est&aacute; disponible en el repositorio <a href="https://github.com/AvANa-BBS/freepto-lb/">https://github.com/AvANa-BBS/freepto-lb/</a>, de manera que el desarrollo es p&uacute;blico y est&aacute; abierto tambi&eacute;n a quien quiera contribuir de manera espor&aacute;dica.</p>
        <p>Usamos Git y el espacio de <a href="https://github.com/AvANa-BBS/">GitHub</a> como sistema de control de versiones y tambi&eacute;n para gestionar los <a href="https://github.com/AvANa-BBS/freepto-lb/issues?milestone=&page=1&state=open">tickets</a> y la l&iacute;nea de tiempo del desarrollo general.</p>
        <p>Si tienes un bug que reportar puedes usar la p&aacute;gina de GitHub o <a href="/es/contactos/">escribirnos un correo</a>.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Un ambiente de desarrollo</h2>
        <p>Hemos creado una herramienta para automatizar el proceso de instalaci&oacute;n y configuraci&oacute;n de un ambiente de desarrollo. El c&oacute;digo se basa en las librer&iacute;as <em>fabric</em> y <em>fabtools</em> de python.</p>
        <p>Para m&aacute; informaci&oacute;n consulta el repositorio <a href="https://github.com/AvANa-BBS/freepto-buildtools">https://github.com/AvANa-BBS/freepto-buildtools</a>.</p>
    </div>
</div>
{% endblock %}
