{% extends "es/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>Como colaborar</h2>
        <p>La documentación de Freepto y las guías para usarlo son obra del equipo de documentación, que se encarga de traducir articulos o escribir otros nuevos.</p>
        <p>También se suelen escribir pequeñas guías para las aplicaciones contenidas en Freepto que son orientadas a la seguridad del usuario.</p>
        <p>El documento principal en castellano es publicado en un <a href="https://we.riseup.net/avana/freepto-docs-es">wiki</a> alojado en la plataforma <a href="https://we.riseup.net">https://we.riseup.net</a>.</p>
        <p>Si quieres contribuir al proyecto de documentación tienes que iscribirte a la lista de correo general <a href="mailto:freepto@autistici.org">freepto@autistici.org</a> y presentarte.</p>
    </div>
    <div class="span6">
        <h2>Tips&Tools</h2>
        <p></p>
    </div>
</div>
{% endblock %}
