{% extends "es/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>Como colaborar</h2>
        <p>El grupo de documentación se encarga de escribir la documentación de Freepto y de pequeñas guias para las aplicaciones instaladas que son orientadas a la seguridad del usuario.</p>
        <p>Además del desarrollo de los articulos, el equipo se encarga también de la relativa traducción en otros idiomas.</p>
        <p>El documento principal en castellano es publicado en un <a href="https://we.riseup.net/avana/freepto-docs-es">wiki</a> alojado en la plataforma <a href="https://we.riseup.net">https://we.riseup.net</a>.</p>
        <p>Si quieres contribuir al proyecto de documentación tienes que iscribirte a la <a href="/es/contactos/">lista de correo general</a>.</p>
    </div>
    <div class="span6">
        <h2>Tips&Tools</h2>
        <p></p>
    </div>
</div>
{% endblock %}
