{% extends "es/base.html" %}
{% block menu %}{{ menu('events') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Pr&oacute;ximos eventos</h2>
        <p><strong>2013/12/14</strong> - <a href="http://informaticamadrid.cnt.es/articulo/07-12-2013/14-de-diciembre-jornada-de-autodefensa-digital">Jornada de autodefensa digital</a> y presentaci&oacute;n de Freepto en Madrid.</p>
        <h2>Eventos pasados</h2>
        <p><strong>2013/11/03</strong> - <a href="http://sindominio.net/hackmeeting/wiki/2013/Nodos/Freepto:_encrypted_GNU/Linux_OS">Presentaci&oacute;n</a> en <a href="http://www.txirbilenea.org/">Txirbilenea</a> en ocasión del <a href="http://sindominio.net/hackmeeting/wiki/2013">HackGaraiak</a> de Sestao.</p>
        <p><strong>2013/06/08</strong> - <a href="http://it.hackmeeting.org/seminari.html#freepto">No install party</a> en el <a href="http://it.hackmeeting.org/index.html">hackmeeting</a> de Cosenza.</p>
    </div>
</div>
{% endblock %}
