{% extends "es/base.html" %}
{% block menu %}{{ menu('home') }}{% endblock %}
{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
                <div class="row">
                        <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                        <div class="active item">
                                                <div class="container">
                                                        <div class="carousel-img">
                                                                <img alt="Penna usb" src="{{ url_for('static', filename='slide-conte.png') }}" />
                                                        </div>
                                                        <div class="carousel-text">
                                                                <h1>Siempre con ti</h1>
                                                                <p class="lead">Freepto es una memoria usb, as&iacute; podr&aacute;s siempe tenerla en el bolsillo</p>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="item">
                                                <div class="container">
                                                        <div class="carousel-img">
                                                                <img heigth="200px" alt="" src="{{ url_for('static', filename='slide-sicura.png') }}"></img>
                                                        </div>
                                                        <div class="carousel-text">
                                                                <h1>Segura</h1>
                                                                <p class="lead">Freepto es cifrada, y sus programas se focalizan en mejorar tu seguridad</p>
                                                        </div>
                                                </div>
                                        </div><!--item-->
                                        <div class="item">
                                                <div class="container">
                            <div class="carousel-img">
                                <img alt="Completa" src="{{ url_for('static', filename='slide-completa.png') }}" />
                            </div>
                                                        <div class="carousel-text">
                                                                <h1>Completa</h1>
                                                                <p class="lead">Freepto es un sistema operativo completo basado en Debian GNU/Linux, con todos los programas que necesitas: paquete office, gr&aacute;fica, audio, chat, correo, navegador</p>
                                                        </div>
                                                </div>
                                        </div><!--item-->
                                </div><!--carousel-inner -->
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div><!--carousel-->
                </div><!--row-->

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
            <h3>¿Que es Freepto?</h3>
            <p>Freepto es un sistema GNU/Linux completo adapto para memorias USB. Esto significa que puedes llevar la memoria USB siempre con ti y utilizar cualquiera ordenador como si fuera tu portátil. Además los datos que guardarás dentro de la memoria será automáticamente cifrados (o sea no podrán ser leídos por otras personas).</p>
            <p>La idea que está a la base del desarrollo de Freepto es la de ofrecer un sistema <em>sencillo</em> por la gestión segura de las herramientas mas utilizadas por los activistas, sin renunciar a la <em>comodidad</em> de un sistema operativo tradicional.</p>
          <a class="btn btn-large btn-danger" href="https://we.riseup.net/avana/opuscolo#freepto" target="_blank">Continua a leggere &raquo;</a>
        </div>
        <div class="span4">
            <h3>¿Come se usa?</h3>
            <p>Usa Freepto es muy sencillo.</p>
            <p>Hace falta insertar la memoria USB en el ordenador cuando está apagado, luego encenderlo, <a href="https://we.riseup.net/avana/freepto-docs-es#%C2%BFcomo-arrancar-freepto">seleccionar el boot desde USB</a>, y Freepto se arrancará.</p>
            <p>Para tener todas las informaciones su como instalar, arrancar utilizar Freepto, puedes leer la pagina de documentación.</p>
          <a class="btn btn-large btn-danger" href="https://we.riseup.net/avana/freepto-docs-es" target="_blank">Documentaci&oacute;n &raquo;</a>
       </div>
        <div class="span4">
          <h3>Cos'è AvANa?</h3>
                  <p>«Av.A.Na - Avvisi Ai Naviganti non è un progetto o un insieme di
                  progetti, piuttosto un processo collettivo di autoapprendimento. È la
                  startup della conoscenza. È la pastella delle idee. Ha un approccio e
                  promuove un utilizzo critico e consapevole dell'informatica e delle
                  tecnologie.</p>
          <p>AvANa non fa corsi e non insegna nulla, piuttosto è lo spazio e il tempo nel quale scambiare saperi e conoscenze, ricercando il piacere dell'orizzontalità. (luglio 2012)».</p>
         <a class="btn btn-large btn-danger" href="http://avana.forteprenestino.net" target="_blank">Vai al sito &raquo;</a>
        </div>
        </div><!--row-->
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-right" src="{{ url_for('static', filename='slide-conte.png') }}" />
                <h2 class="featurette-heading">Siempre con ti <span class="muted">Un
                                sistema operativo de bolsillo</span></h2>
                        <p class="lead">Freepto es un sistema operativo completo dentro
                        de una memoria usb. La puedes usar en cualquiera ordenador, y tendr&aacute; todo lo
                        que necesitas. No se trata de un sistema para usar solo en casos de emergencia:
                        Freepto es adapto para un uso habitual.
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='luks-pass.png') }}"></img>
                <h2 class="featurette-heading">Cifrada <span class="muted">pera custodiar los secretos</span></h2>
                <p class="lead">Todo el contenido de Freepto es cifrado con una
                contrase&ntilde;a que conoces s&oacute;lo tu. De esta manera tambi&eacute;n si pierdes la llave,
                o te la roban, no tienes que preocuparte que tus datos se queden en manos
                de las personas equivocadas.</p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
<!--        <img class="featurette-image pull-right" src="{{ url_for('static', filename='luks-pass.png') }}"></img>-->
                <h2 class="featurette-heading">Todo incluido <span class="muted">desde
                        el correo hasta la gr&aacute;fica</span></h2>
                <p class="lead">Freepto contiene muchos de los programas &uacute;tiles: navegador,
                gestor de correos, editor de im&aacute;genes y si algo falta, lo puedes
                instalar gracias a synaptic, el gestor de paquetes presente
                tambi&eacute;n en Debian y Ubuntu.</p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='slide-sicura.png') }}"></img>
                <h2 class="featurette-heading">Configurada para la seguridad</h2>
                <p class="lead">Hemos ententado de poner Freepto lo m&aacute;s segura posible sin que estos empeorase de alguna manera la facilidad de uso:
                <ul class="lead">
                    <li>Los programas de chat y filezilla est&aacute;n configurados para el uso de tor,
                    de manera que se tengan conexiones an&oacute;nimas y seguras.</li>
                    <li>Firefox incluye las extensiones para cifrar la comunicaci&oacute; con los
                    servidores el m&aacute; posible.</li>
                    <li>Con Firefox es posible navegar hacia las paginas web <tt>.onion</tt> (paginas internas a la 
                    red tor de las cual no se conoce la posici&oacute;n).</li>
                </ul>
                </p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-right" src="{{ url_for('static', filename='freepto-menu-zoom.png') }}"></img>
                <h2 class="featurette-heading">Paranoia adicional <span class="muted">opcional, pero a su alcance</span></h2>
                <p class="lead">Aumentar el propio nivel de seguridad deber&iacute;a ser opcional
                pero sencillo; por esto hemos incluido dentro de Freepto una <a
                    href="https://github.com/AvANa-BBS/freepto-lb/blob/master/config/package-lists/package.list.chroot">serie
                    de herramientas</a> para quien quiere aumentarlo:
                <ul class="lead">
                    <li>Cancelaci&oacute;n segura de los ficheros</li>
                    <li>Truecrypt, para gestionar archivos cifrados</li>
                    <li>Torbrowser-launcher, para tener siempre la ultima versi&oacute;n de torbrowser y navegar de manera anonima</li>
                    <li>GPG, para intercambiarse correos cifrados</li>
                    <li><tt>TorTP</tt>, para forzar el uso de TOR a todas las aplicaciones de red</li>
                    <li>Florence, para tener un teclado virtual donde insertar las contrase&ntilde;as</li>
                    <li><tt>Tomb</tt>, para la gesti&oacute;n avanzada de los archivos cifrados</li>
                </ul>
                </p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='doc.png') }}"></img>
                <h2 class="featurette-heading">Documentaci&oacute;n incluida</h2>
                <p class="lead">Usar Freepto es sencillo, pero es siempre util tener la documentaci&oacute;n para leer
                cualquiera necesidad. Por esto hemos incluido dentro Freepto su <a href="https://we.riseup.net/avana/freepto-docs-es">manual</a>,
                que te ayudar&aacute; a usarla de la mejor manera.</p>
                <p class="lead">Hemos tambi&eacute;n incluido <a href="https://we.riseup.net/avana/opuscolo/">Crypt'r'die</a>, un folleto dedicado a la defensa dal control digital que hemos producido: est&aacute; organizado en sencillas "recetas" para mejorar la propia seguridad, echale un vistazo!</p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-right" src="{{ url_for('static', filename='livebuild.png') }}"></img>
                <h2 class="featurette-heading">Personal&iacute;zala</h2>
                <p class="lead">Si quieres, puedes crear una versi&oacute;n modificada de Freepto,
                incluyendo nuevos programas o haciendo modificas de cualquiera tipo.
                Freepto es basada en Debian Live Build, un conjunto de herramienta que permite de generar distribuciones live personalizadas basadas en Debian.
                PUedes contribuir empezando de <a href="https://github.com/AvANa-BBS/freepto-lb">nuestro repository</a>.</p>
        </div>

{% endblock %}
