{% extends "es/base.html" %}
{% block menu %}{{ menu('home') }}{% endblock %}
{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
                <div class="row">
                        <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                        <div class="active item">
                                                <div class="container">
                                                        <div class="carousel-img">
                                                                <img alt="Penna usb" src="{{ url_for('static', filename='slide-conte.png') }}" />
                                                        </div>
                                                        <div class="carousel-text">
                                                                <h1>Siempre contigo</h1>
                                                                <p class="lead">Freepto cabe en una memoria usb, as&iacute; podr&aacute;s tenerla siempre en el bolsillo</p>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="item">
                                                <div class="container">
                                                        <div class="carousel-img">
                                                                <img heigth="200px" alt="" src="{{ url_for('static', filename='slide-sicura.png') }}"></img>
                                                        </div>
                                                        <div class="carousel-text">
                                                                <h1>Segura</h1>
                                                                <p class="lead">Freepto est&aacute; cifrada, sus programas se centran en mejorar tu seguridad</p>
                                                        </div>
                                                </div>
                                        </div><!--item-->
                                        <div class="item">
                                                <div class="container">
                            <div class="carousel-img">
                                <img alt="Completa" src="{{ url_for('static', filename='slide-completa.png') }}" />
                            </div>
                                                        <div class="carousel-text">
                                                                <h1>Completa</h1>
                                                                <p class="lead">Freepto es un sistema operativo completo basado en Debian GNU/Linux con todos los programas que necesitas: paquete office, gr&aacute;fico, audio, chat, correo, navegador...</p>
                                                        </div>
                                                </div>
                                        </div><!--item-->
                                </div><!--carousel-inner -->
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div><!--carousel-->
                </div><!--row-->

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
            <h3>¿Qu&eacute; es Freepto?</h3>
            <p>Freepto es un sistema GNU/Linux completo adaptado para memorias USB. Esto significa que puedes llevar la memoria USB siempre contigo y utilizar cualquier ordenador como si fuera tu port&aacute;til. Adem&aacute;s, los datos que guardes dentro de la memoria ser&aacute;n autom&aacute;ticamente cifrados y no podr&aacute;n ser le&iacute;dos sin su contraseña.</p>
            <p>La idea fundamental del desarrollo de Freepto es ofrecer un sistema <em>sencillo</em> con el que gestionar de forma segura las herramientas comunmente utilizadas por los activistas, sin renunciar a la <em>comodidad</em> de un sistema operativo tradicional.</p>
          <a href="https://we.riseup.net/avana/opuscolo#freepto" target="_blank">Sigue leyendo &raquo;</a>
        </div>
        <div class="span4">
            <h3>¿C&oacute;mo se usa?</h3>
            <p>Usar Freepto es muy sencillo.</p>
            <p>Inserta la memoria USB en cualquier ordenador, rein&iacute;cialo o enciéndelo y <a href="https://we.riseup.net/avana/freepto-docs-es#%C2%BFcomo-arrancar-freepto">selecciona arrancar desde USB</a>. Entonces Freepto se iniciar&aacute;.</p>
            <p>Para consultar toda la documentaci&oacute;n sobre c&oacute;mo instalar, arrancar o utilizar Freepto, visita la p&aacute;gina de documentaci&oacute;n.</p>
          <a href="https://we.riseup.net/avana/freepto-docs-es" target="_blank">Documentaci&oacute;n &raquo;</a>
       </div>
        <div class="span4">
          <h3>¿Qué es AvANa?</h3>
	  <p>«Av.A.Na -Avvisi Ai Naviganti (aviso al navegante) no es un proyecto
	  o un conjunto de proyectos, sino un proceso colectivo de auto-aprendizaje.
	  Es una startup de conocimiento, una catapulta de ideas. Tiene un enfoque
	  y promueve el uso cr&iacute;tico y consciente de la inform&aacute;tica y la tecnolog&iacute;a.</p>
          <p>AvANa no hace cursos ni enseña nada, sino que confomra el espacio y el tiempo en el que intercambiar saberes y conocimientos buscando el placer de la horizontalidad. (julio de 2012)».</p>
         <a href="http://avana.forteprenestino.net" target="_blank">Vai al sito &raquo;</a>
        </div>
        </div><!--row-->
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-right" src="{{ url_for('static', filename='slide-conte.png') }}" />
                <h2 class="featurette-heading">Siempre contigo <span class="muted">Un
                                sistema operativo de bolsillo</span></h2>
                        <p class="lead">Freepto es un sistema operativo completo dentro
                        de una memoria USB. Puedes usarla en cualquier ordenador y tendr&aacute;s todo lo
                        que necesitas. No se trata de un sistema para uso solo en casos de emergencia:
                        Freepto est&aacute; adaptado para un uso habitual.
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='luks-pass.png') }}"></img>
                <h2 class="featurette-heading">Cifrada <span class="muted">para custodiar tus datos</span></h2>
		<p class="lead">Todo el contenido de Freepto est&aacute; cifrado con una
                contrase&ntilde;a que solo t&uacute; conoces. De esta manera, si pierdes la memoria USB
                o te la roban, no tienes que preocuparte por que tus datos est&eacute;en manos ajenas.</p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
<!--        <img class="featurette-image pull-right" src="{{ url_for('static', filename='luks-pass.png') }}"></img>-->
                <h2 class="featurette-heading">Todo incluido <span class="muted">desde
                        el correo hasta el diseño gr&aacute;fico</span></h2>
                <p class="lead">Freepto contiene muchos de los programas &uacute;tiles: navegador,
                gestor de correos, editor de im&aacute;genes... y si te falta algo puedes
                instalarlo gracias a Synaptic, el gestor de paquetes usado
                tambi&eacute;n en Debian y Ubuntu.</p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='slide-sicura.png') }}"></img>
                <h2 class="featurette-heading">Configurada para la seguridad</h2>
                <p class="lead">Freepto es fácil de usar pero no insegura.
                <ul class="lead">
                    <li>Los programas de chat y filezilla est&aacute;n configurados para el uso de Tor
                    y poder as&iacute; disponer de conexiones an&oacute;nimas y seguras.</li>
                    <li>Firefox incluye las extensiones para cifrar la comunicaci&oacute; con los
                    servidores lo m&aacute;ximo posible.</li>
                    <li>Podr&aacute; navegar por las paginas web <tt>.onion</tt> (paginas internas a la 
                    red Tor de las cuales no se conoce su ubicaci&oacute;n).</li>
                </ul>
                </p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-right" src="{{ url_for('static', filename='freepto-menu-zoom.png') }}"></img>
                <h2 class="featurette-heading">Seguridad adicional <span class="muted">opcional, pero a tu alcance</span></h2>
                <p class="lead">Aumentar el propio nivel de seguridad es opcional
                pero sencillo, ya que hemos incluido dentro de Freepto una <a
                    href="https://github.com/AvANa-BBS/freepto-lb/blob/master/config/package-lists/package.list.chroot">serie
                    de herramientas</a> que lo facilitan:
                <ul class="lead">
                    <li>Borrado seguro de archivos</li>
                    <li>Truecrypt, para gestionar archivos cifrados</li>
                    <li>Torbrowser-launcher, para tener siempre la &uacute;ltima versi&oacute;n de Torbrowser y navegar de manera an&oacute;nima</li>
                    <li>GPG, para el intercambio de correos cifrados</li>
                    <li><tt>TorTP</tt>, para forzar el uso de Tor en todas las aplicaciones de red</li>
                    <li>Florence, para disponer de un teclado virtual donde insertar las contrase&ntilde;as de forma segura</li>
                    <li><tt>Tomb</tt>, para la gesti&oacute;n avanzada de archivos cifrados</li>
                </ul>
                </p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-left" src="{{ url_for('static', filename='doc.png') }}"></img>
                <h2 class="featurette-heading">Documentaci&oacute;n incluida</h2>
                <p class="lead">Usar Freepto es sencillo, pero es siempre &uacuote;til tener la documentaci&oacute;n a mano para
                consultar cualquier duda. Por eso hemos incluido en Freepto su <a href="https://we.riseup.net/avana/freepto-docs-es">manual</a>,
                que te ayudar&aacute; a usarla de la mejor manera.</p>
                <p class="lead">Hemos incluido tambi&eacute;n <a href="https://we.riseup.net/avana/opuscolo/">Crypt'r'die</a>, un folleto que hemos producido dedicado a la defensa contra el control digital que est&aacute; organizado en sencillas "recetas" con las que mejorar tu seguridad. ¡&Eacuote;chale un vistazo!</p>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="featurette">
                <img class="featurette-image pull-right" src="{{ url_for('static', filename='livebuild.png') }}"></img>
                <h2 class="featurette-heading">Personal&iacute;zala</h2>
                <p class="lead">Si quieres, puedes crear una versi&oacute;n modificada de Freepto
                incluyendo nuevos programas o haciendo modificaciones de cualquier tipo.
                Freepto est&aacute; basada en Debian Live Build, un conjunto de herramientas que permite generar distribuciones live personalizadas basadas en Debian.
                Puedes contribuir a partir de <a href="https://github.com/AvANa-BBS/freepto-lb">nuestro repositorio</a>.</p>
        </div>

{% endblock %}
