{% extends "es/base.html" %}
{% block menu %}{{ menu('news') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>Ultimas noticias</h2>

        <p><strong>2015/02/19</strong> - Publicada <a href="/es/descargas/">Freepto v1.0.1</a><br />
        <a href="http://www.freepto.mx">Freepto</a> stable v1.0.1 (codename Berenjena) ha sido publicada.
        Puedes encontrar m&aacute;s informaci&oacute;n para la descarga y la instalaci&oacute;n  en la p&aacute;gina de <a href="/es/descargas/">descargas</a>.
        </p>

        <p><strong>2013/12/16</strong> - Publicada <a href="/es/descargas/">Freepto 0.1.2</a></p>
    </div>
</div>
{% endblock %}
