{% extends "es/base.html" %}
{% block menu %}{{ menu('contrib') }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>C&oacute;mo colaborar</h2>
        <p>El testeo de Freepto suele hacerse en todas las versiones beta y <em>stable</em> del proyecto.</p>
        <p>Generalmente cada desarrollador prueba lo que hace, as&iacutes; que el equipo de testeo solo tiene que efectuar pruebas 'peri&oacute;dicas' para descubrir fallos eventuales.</p>
        <p>En ocasiones los desarrolladores pueden pedir un test espec&iacute;fico, por ejemplo, en el caso de modificaciones importantes del sistema o en cambios que pudieran depender del hardware usado. En este caso los desarrolladores crear&aacute;n una nueva <em>build</em> y pidir&aacute;n en la lista de correo general un comentario a los tester.</p>
        <p>La coordinaci&oacutes;n se lleva a cabo a trav&eacute;s de la lista de <a href="/es/contactos/">correo general</a>. Si quieres unirte al equipo de testeo ¡suscr&iacute;bete a la lista y presentate!</p>
        <p>Puedes encontrar las versiones de desarrollo y las versiones beta en esta p&aacute;gina:</p>
        <p><a href="http://dev.freepto.mx/dev/freepto-lb/">http://dev.freepto.mx/</a>.</p>
        <p>Luego puedes seguir la <a href="/es/usa_freepto/">documentaci&oacute;n</a> para crear una memoria USB.</p> 
    </div>
    <div class="span6">
        <h2>Tips&Tools</h2>
        <p>Para testear Freepto sin tener que realizar una instalaci&oacute;n en un dispositivo, puedes usar <em>qemu</em> o <em>VirtualBox</em> para emular el sistema. De esta manera no ser&aacute; posible testear el funcionamento de la persistencia cifrada.</p>
        <h3>qemu/kvm</h3>
        <p>Ejemplo para sistemas x86_64:</p>
        <code>qemu-system-x86_64 -cpu kvm64 -enable-kvm freepto-es_ES-0.1.2.img</code>
        <h3>VirtualBox</h3>
        <p>Para crear una maquina virtual con virtualbox puedes descargar el script <a href="https://raw.github.com/AvANa-BBS/freepto-lb/master/tools/vboxtesting.sh">vboxtesting</a>.</p>
        <p>Ejemplo para ejecutarlo desde CLI:</p>
        <p><code>wget http://raw.github.com/AvANa-BBS/freepto-lb/master/tools/vboxtesting.sh</code></p>
        <p><code>chmod +x vboxsetting.sh</code></p>
        <p><code>bash vboxtesting.sh</code></p>
    </div>
</div>
{% endblock %}
